<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockstream Blind Oracle</title>
    <link rel="stylesheet" href="./statics/chx2fbn.css">
    <link rel="stylesheet" href="./statics/styleguide.min.css">
    <link rel="stylesheet" href="./statics/main.css">
    <link rel="icon" href="./statics/favicon.jpeg">
  </head>

  <body>
    <header>
      <a class="logo" href="https://blockstream.com/jade/">
        <img src="./statics/logo.svg" alt="Jade" class="logo-img">
      </a>
    </header>
    <main>
      <div class="container">
        <br />
        <br />
        <h1 class="title" id="title">Personal Blind Oracle</h1>
        <br />
        <table>
          <tr><td></td></tr>
          <tr>
            <td>
              <div style="display: flex; justify-content: center;"><img src="qrcode" alt="qrcode" style="background:#FFF; padding:40px;"></div>
            </td>
          </tr>
          <tr><td></td></tr>
          <tr>
            <td style="word-break: break-all"><b>URL:</b> {{url}}:{{port}} <br /><b>Public key:</b> <a href="server_public_key.pub">{{pubkey}}</a> <br /><b>Managed pins:</b> {{keysno}}</td>
          </tr>
          <tr>
            <td>
              <a style="text-align: center" class="g-btn green-btn" href="https://help.blockstream.com/hc/en-us/articles/18904765931161">Setup Guide</a>
            </td>
          </tr>
        </table>
        <img class="jade-img" src="./statics/jade.svg" alt="Jade">
      </div>
    </main>
  </body>

</html>